.root {
  margin-top: 3%;
}

.title{
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 60px;
}
.textbody {
  margin-left: 5%;
}
.inline {
  font-family: 'Roboto';
  display: flex;
  flex-direction: row;
  margin: 0;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 2%;
}

.text{
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 8px;
  font-size: 12px;
  margin-top: 5%;
}


.cell {
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  width: 53px;
  height: 70px;
  background-color: #E5E4E2;
}
.text1 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0;
  font-size: larger;
  font-weight: bold;
}

.text2 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0;
}
