.root {
  margin-top: 10%;
}
.textbody {
  margin-left: 10%;
}
.inline {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  margin-top: 5%;
}
