.root {
  z-index: 100;
  position: absolute;
  border-radius: 0.8rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vh;
  height: 30vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.searchBar {
    width: 95%;
    height: 3rem;
    border-radius: 3rem;
    border-color: rgb(226,159,101);
    border-color: linear-gradient(66deg, rgba(226,159,101,1) 39%, rgba(247,217,196,1) 100%);
    font-size: 20px;
    margin-bottom: 5vh;
  }